.product{
    display: flex;
    margin-right: 10px;
    margin-bottom: 5px;
    padding:5px;
    border-bottom: 1px solid lightgray;
}

.product-name{
    color:blue;
    font-weight: 400;
}

.main-button{
    background-color: goldenrod;
    height: 30px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
}